// scss-docs-start color-variables
$purple: #8a82cc !default;
$pink: #d63384 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$red: #ff1200 !default;
$black: #000000 !default;
$white: #ffffff !default;
$dark-white: #f5f5f5 !default;
$orange: #ff982d !default;
$dark-orange: #ff6c03 !default;
$blue: #31baf9 !default;
$green: #86d73f !default;
$yellow: #ffd366 !default;
$dark-yellow: #dea821 !default;
$gray: #424242 !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables

$font-light: $white !default;
$font-dark: $gray !default;
$font-yellow: $yellow !default;
$footer: $yellow !default;
$bg-dark: $gray !default;
$bg-light: $dark-white !default;
$bg-yellow: $yellow !default;
$border-normal: $green;
$border-slim: $blue;
$border-overweight: $orange;
$border-overweight-m: $dark-orange;
$border-overweight-l: $red;
// scss-docs-end theme-color-variables
